.cache
.PVS-Studio
.PVS-Studio/
.agents/
notes/
build*
*.pdf
*.sqlite3*
valgrind*.txt
build_tracy_profiler/
.cachegrind/
output/
*.py
vgcore*
.github/deploy_key
.github/deploy_key.pub
Analyse
bench
build_chunky
/build/
vcpkg/
vcpkg_installed/
thirdparty/libsodium/src/libsodium/include/sodium/version.h
*.tracy
bench*
