[Unit]
Description=VoxPlace Game Server
After=network.target

[Service]
Type=simple
ExecStart=env VOXPLACE_SERVER_WORKERS=1 VOXPLACE_PROFILE_WORKERS=1 /root/VoxPlace/build/VoxPlaceServer --classic-gen --modified-only-world --port 28713
WorkingDirectory=/root/VoxPlace
Nice=-20
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
